<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="lib/angular/angular.min.js"></script> 
	<script src="lib/angular/angular-messages.min.js"></script> 
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="js/app.js"></script> 
	<script src="js/controllers/listaTelefonicaController.js"></script>
</head>
<body ng-controller="listaTelefonicaController">
	<div class="jumbotron">
		<!-- <h4 ng-bind="app"></h4> -->
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioBusca" placeholder="O que você está buscando?">
		<table ng-hide="contatos.length <= 0" class="table">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioBusca} | orderBy:criterioOrdenacao:direcaoOrdenacao">
				<!-- Outras duas formas de adicionar uma classe dinamicamente,
				na primeira é adicionado um diretamente e na segunda é adicionado
				mais de uma através de array.
				ng-class="classe"
				ng-class="[classe1, classe2]" -->

				<!-- No orderBy:
					orderBy:'nome':false ou orderBy:'+nome' -> representam o ordem crescente
					orderBy:'nome':true ou orderBy:'-nome' -> representam o ordem descrescente
				-->

				<!-- A forma abaixo quer dizer a mesma coisa que está no ng-class do tr, porém
					lá foi refatorado, pois tendo string como identificador, podemos pegar mais
					de um objeto, colocando eles entre aspas e seperando por espaço em branco.
					ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}"-->

				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:,mm'}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
			<!-- <tr ng-repeat="contato in contatos">
				<td ng-repeat="(key,value) in contato">
					{{value}}
				</td>
			</tr> -->
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome + ' (' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<!-- Para passar o value do select como apenas o código da operadora, sendo
				que o label será o nome da operadora. -->
				<!-- ng-options="operadora.codigo as operadora.nome for operadora in operadoras" -->
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		
		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-show="required">
				Por favor, preencha o nome!
			</div>
			<div ng-show="minlength">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
		
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
			O campo telefone deve estar no formato DDDDD-DDDD.
		</div>

		<!-- Essa solução para bloquear o campo não tão boa, mais para frente usaremos o
		ng-required para validar que apresenta um solução mais elegante -->
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="contatoSelecionado(contatos)">Apagar</button>
		<!-- ng-show: utiliza o diplay none ou show, ou seja o elemento sempre estará
			 lá o que mudar é se ele será visível ou não.
			 ng-if: interage com o DOM removendo o elemento caso a condição não false -->
		<!-- {{contato}} -->
	</div>
	<!-- Não irá funcionar no chrome, a página seja aberto por arquivo (procotolo file),
	porém funciona normalmente utilizando um servidor de aplicação. -->
	<!-- <div ng-include="'view/footer.html'"></div> -->
</body>
</html>